################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Perfect Storm/v16
/bin/Dll_Release
/build/Dll_Release
build/Dll_Debug/d3dcompiler_47.pch
*.pch
*.pdb
*.ipch
*.ipch
.vs/Perfect Storm/v17/ipch/223fd8ad9a8bf8e4.ipch
.vs/Perfect Storm/v17/ipch/96c06e84e5181a8c.ipch
