################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
d3dcompiler_47_og/x64/Release/d3dcompiler_47.tlog/link.delete.1.tlog
